USE [master]
GO
/****** Object:  Database [AccidentsDB1]    Script Date: 11/08/2021 16:48:30 ******/
CREATE DATABASE [AccidentsDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccidentsDB1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AccidentsDB1.mdf' , SIZE = 161792KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AccidentsDB1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AccidentsDB1_log.ldf' , SIZE = 625792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccidentsDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccidentsDB1]
GO
/****** Object:  Table [dbo].[accidents]    Script Date: 11/08/2021 16:48:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accidents](
	[Num_Acc] [float] NULL,
	[catu] [float] NULL,
	[grav] [float] NULL,
	[sexe] [float] NULL,
	[trajet] [float] NULL,
	[num_veh] [nvarchar](255) NULL,
	[senc] [float] NULL,
	[catv] [float] NULL,
	[mois] [float] NULL,
	[an] [float] NULL,
	[hrmn] [datetime] NULL,
	[lum] [float] NULL,
	[int] [float] NULL,
	[atm] [float] NULL,
	[col] [float] NULL,
	[long] [float] NULL,
	[lat] [float] NULL,
	[catr] [float] NULL,
	[circ] [float] NULL,
	[situ] [float] NULL
) ON [PRIMARY]

GO
USE [master]
GO
