USE [master]
GO
/****** Object:  Database [AccidentsDW]    Script Date: 11/08/2021 16:47:20 ******/
CREATE DATABASE [AccidentsDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccidentsDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AccidentsDB2.mdf' , SIZE = 462848KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AccidentsDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AccidentsDB2_log.ldf' , SIZE = 3164032KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccidentsDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccidentsDW]
GO
/****** Object:  Table [dbo].[Accidents_FACT]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accidents_FACT](
	[id_Date] [int] NOT NULL,
	[id_route] [int] NOT NULL,
	[id_vehicule] [int] NOT NULL,
	[id_collision] [int] NOT NULL,
	[id_atm] [int] NOT NULL,
	[id_gravite] [int] NOT NULL,
	[id_lum] [int] NOT NULL,
	[id_situation] [int] NOT NULL,
	[id_trajet] [int] NOT NULL,
	[id_usager] [int] NOT NULL,
	[id_intersection] [int] NOT NULL,
	[id_circulation] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategorieVehicule_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorieVehicule_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cat] [int] NULL,
 CONSTRAINT [PK_CategorieVehicule_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Circculation_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Circculation_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NULL,
 CONSTRAINT [PK_Circculation_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Collision_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collision_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Collision_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConditionsAtm_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConditionsAtm_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atm] [nchar](10) NULL,
 CONSTRAINT [PK_ConditionsAtm_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Date_Dim]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Date_Dim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mois] [int] NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_Date_Dim] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gravite_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gravite_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gravite] [nchar](10) NULL,
 CONSTRAINT [PK_gravite_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Intersec_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intersec_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inters] [int] NULL,
 CONSTRAINT [PK_Intersec_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lumiere_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lumiere_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lum] [int] NULL,
 CONSTRAINT [PK_Lumiere_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Route_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lat] [float] NULL,
	[long] [float] NULL,
	[catr] [int] NULL,
 CONSTRAINT [PK_Route_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SituationAccident_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SituationAccident_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[situ] [int] NULL,
 CONSTRAINT [PK_SituationAccident_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trajet_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trajet_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[trajet] [int] NULL,
 CONSTRAINT [PK_Trajet_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usagers_DIM]    Script Date: 11/08/2021 16:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usagers_DIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sexe] [int] NULL,
	[catu] [int] NULL,
 CONSTRAINT [PK_Usagers_DIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_CategorieVehicule_DIM] FOREIGN KEY([id_vehicule])
REFERENCES [dbo].[CategorieVehicule_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_CategorieVehicule_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Circculation_DIM] FOREIGN KEY([id_circulation])
REFERENCES [dbo].[Circculation_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Circculation_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Collision_DIM] FOREIGN KEY([id_collision])
REFERENCES [dbo].[Collision_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Collision_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_ConditionsAtm_DIM] FOREIGN KEY([id_atm])
REFERENCES [dbo].[ConditionsAtm_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_ConditionsAtm_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Date_Dim] FOREIGN KEY([id_Date])
REFERENCES [dbo].[Date_Dim] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Date_Dim]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_gravite_DIM] FOREIGN KEY([id_gravite])
REFERENCES [dbo].[gravite_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_gravite_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Intersec_DIM] FOREIGN KEY([id_lum])
REFERENCES [dbo].[Intersec_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Intersec_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Lumiere_DIM] FOREIGN KEY([id_lum])
REFERENCES [dbo].[Lumiere_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Lumiere_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Route_DIM] FOREIGN KEY([id_route])
REFERENCES [dbo].[Route_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Route_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_SituationAccident_DIM] FOREIGN KEY([id_situation])
REFERENCES [dbo].[SituationAccident_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_SituationAccident_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Trajet_DIM] FOREIGN KEY([id_trajet])
REFERENCES [dbo].[Trajet_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Trajet_DIM]
GO
ALTER TABLE [dbo].[Accidents_FACT]  WITH CHECK ADD  CONSTRAINT [FK_Accidents_FACT_Usagers_DIM] FOREIGN KEY([id_usager])
REFERENCES [dbo].[Usagers_DIM] ([id])
GO
ALTER TABLE [dbo].[Accidents_FACT] CHECK CONSTRAINT [FK_Accidents_FACT_Usagers_DIM]
GO
USE [master]
GO
